/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Revolution&family=Protest+Riot&family=Roboto&family=Salsa&family=Oswald:wght@200..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root {
  --font-salsa: "Salsa", cursive;
  --font-source: "Source Code Pro", monospace;
  --font-roboto: "Roboto", sans-serif;
  --font-riot: "Protest Riot", sans-serif;
  --font-protest: "Protest Revolution", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  --color-white: white;
  --color-cyan: cyan;
  --color-pink: #FFB0DC;
  --color-coral: coral;
  --color-purple: purple;
  --color-black: black;
  --color-brown: rgb(208, 174, 174);
  --text-shadow: .2rem .2rem rgba(104, 104, 104, 0.491);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em white);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em white);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  margin-top: 6em;
}

.splash-title {
  margin-left: 5%;
}

.home-title {
  margin-left: 25%;
}

.title {
  font-family: var(--font-oswald);
  font-size: 300%;
  color: var(--color-black);
  text-shadow: var(--text-shadow);
}

.form-input {
  font-family: var(--font-oswald);
  font-size: 100%;
  display: grid;
  display: table-column-group;
  border-radius: 0%;
  box-sizing: content-box;
  padding: 2rem;
  margin: 2rem;
  color: var(--color-black);
}

/* .login-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 5em;
} */

.login-signup-menu {
  text-align: center;
  color: black;
}

.login-signup-text {
  font-family: var(--font-riot);
  font-size: 150%;
}

.login-signup-menu:hover {
  /* transition-duration: .8s; */
  text-decoration: underline;
}

.signup {
  font-family: var(--font-riot);
  font-size: 150%;
  color: var(--color-pink);

}