.products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    margin-left: 1em;
    overflow-y: scroll;
    width: 75%;
}

.card {
    /* border: .1em solid black;
    border-radius: 1em;
    box-shadow: 1em 1em rgba(0, 0, 0, 0.1); */
    padding: 1em;
    margin: 1em;
    height: auto;
    width: 16em;
    text-align: center;
    position: top;
    font-size: 1.3em;
}

.card-image {
    height: auto;
    width: 100%;
}

.product-title {
    text-align: center;
    color: black;
    font-family: cursive;
    
}

.shop-background {
    background-image: url("../../../public/images/summersale2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    opacity: 80%;
}