.products-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 70vh;
    margin-left: 1em;
    overflow-y: scroll;
    scrollbar-width: thin;
    width: 75%;
}

.card {
    background-color: var(--color-brown);
    border: .1em solid black;
    border-radius: 1em;
    box-shadow: 1em 1em .5em .5em rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 1em;
    height: auto;
    width: 16em;
    text-align: center;
    position: top;
    font-size: 1.3em;
}

.card-image {
    border: .1em solid black;
    border-radius: 1em;
    height: auto;
    width: 100%;
}

.product-title {
    text-align: center;
    color: black;
    font-family: cursive;
    font-size: 250%;
    text-shadow: .2em .2em rgba(0, 0, 0, 0.1);    
}

.shop-background {
    background-image: url("../../../public/images/summersale2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    opacity: 100%;
}