.products-list {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card {
    border: .1em solid black;
    border-radius: 1em;
    box-shadow: 1em 1em rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 1em;
    height: 24em;
    width: 16em;
}

.card-image {
    height: 16em;
    width: 12em;
    margin: 5% 0;
}

.product-title {
    margin-top: 5em;
    text-align: center;
}