.card-body {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 5rem;
    width: 50rem;
}

.card-body button {
    border-radius: 1em;
    height: 2em;
    width: 20%;
}

.form-input {
    font-family: var(--font-oswald);
    font-size: 100%;
    display: grid;
    display: table-column-group;
    border-radius: 0%;
    box-sizing: border-box;
    padding: 2rem;
    margin: 2rem;
    color: var(--color-black);
}

/* .nav-hover:hover + #drop-cart {
    display: flex;
} */

input {
    height: 2em;
    width: 80%;
}
/* ------------------- BLOG ----------------- */
.blog-parent-container {
    display: flex;
    align-items: top;
    justify-content: space-evenly;
    height: 100%;
}
.blog-container {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.blog-post-container {
    border: .1rem solid black;
    height: 50%;
    margin-top: 1em;
}
.blog-form-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;
    height: 30%;
    width: 100%;
}
.blog-form {
    height: 100%;
    width: 100%;
}
.blog-form-container .row {
    margin: 1% 2%;
    height: 15%;
    width: auto;
}
.form-submit {
    background-color: red;
    border: .1rem solid purple;
    border-radius: 2em;
    width: 100%;
}
.form-submit:hover {
    background-color: aquamarine;
}
#subject {
    height: 100%;
    width: 100%;
}

.article-container {
    position: fixed;
    top: 5em;
    bottom: 5em;
    right: 0;
    overflow-y: scroll;
    max-height: 100vh;
    width: 50%;
}

