.card-body {
    position: absolute;
    top: 25%;
    left: 10%;
    height: 5rem;
    width: 50rem;
}

.card-body button {
    border-radius: 1em;
    height: 2em;
    width: 20%;
}

.form-input {
    font-family: var(--font-oswald);
    font-size: 100%;
    display: grid;
    display: table-column-group;
    border-radius: 0%;
    box-sizing: border-box;
    padding: 2rem;
    margin: 2rem;
    color: var(--color-black);
}

/* .nav-hover:hover + #drop-cart {
    display: flex;
} */

input {
    height: 2em;
    width: 80%;
}

