.header {
    background-color: var(--color-brown);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-title {
    font-family: var(--font-oswald);
    text-shadow: var(--text-shadow);
    font-size: 240%;
    color: var(--color-black);
}

.header-title:hover {
    transition-duration: .8s;
    color: pink;
}

.main-header-menu {
    height: 100%;
    width: auto;
    min-width: 35%;
}

.navbar-section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    font-size: 65%;
    font-family: var(--font-oswal);
}

.nav-element {
    width: 25%
}

.nav-element a {
    display: block;
    color: whitesmoke;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.navbar-section a:hover {
    transition-duration: .8s;
    color: var(--color-black);
    text-shadow: .5rem .5rem(black);
}

.drop-menu {
    background-color: var(--color-pink);
    display: none;
    flex-direction: column;
    position: absolute;
    height: auto;
    width: 10rem;
    opacity: 0;
}

.nav-hover:hover div {
    transition-duration: .8s;
    display: flex;
    opacity: 1;
}

.home-title {
    font-family: var(--font-oswald);
    font-size: 300%;
    color: var(--color-black);
    text-shadow: var(--text-shadow);
}

.form-input {

    font-family: var(--font-oswald);
    font-size: 100%;
    display: grid;
    display: table-column-group;
    border-radius: 0%;
    box-sizing: border-box;
    padding: 2rem;
    margin: 2rem;
    color: var(--color-black);
}

/* .nav-hover:hover + #drop-cart {
    display: flex;
} */